body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.password-container {
    position: relative;
    width: 300px;
}
input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #cccccc;
    border-radius: 5px;
}
.toggle-password {
    position: absolute;
    right: 0px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

input::-ms-reveal,
input::-webkit-credentials-auto-fill-button {
    display: none;
}