*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body{
    background-color: black;
    color: #2D2D2D;
}

.portfolio{
    width: 1280px;
    height: 3077px;
    background-color: white;
}
.nav{
    height: 80px;
    padding: 25px 50px;
}

.nav-menu{
    width: 261px;
}

.nav-menu a{
    color: #2D2D2D;
    text-decoration: none;
    font-size: 18.7px;
}

.header{
    height: 624px;
}

.header-subhead{
    width: 1080px;
}

.brand{
    font-size: 20px;
}

.branding-content h1{
    font-size: 80px;
    font-weight:600;
    line-height: 90px;
}

.foot-brand{
font-size: 17px;
margin-top: 40px;
}

.skills-select{
    height: 688px;
}

.skills{
    width: 1000px;
    height: 328px;
}

.skill{
    width: 250px;
    height: 328px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 25px;
}

.skill p{
    margin-bottom: 0;
    font-size: 17px;
}
.skill h3{
    font-weight: 600;
    font-size: 27px;
}

.skill .sub{
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    justify-content: center;
    height: 142px;
    align-self: flex-end;
}

.work-card{
    height: 407px;
    gap: 25px;
    text-align: left;

}

.Latest-work-Section{
    height: 1016px;
}

.Latest-work-Section h1{
    line-height: 42px;
    font-size: 32px;
    font-weight: 600;
}

.work-cards{
    gap: 60px;
}

.stribe{
    width: 1080px;
    height: 407px;
    display: flex;
    justify-content: space-between;
    margin: auto;
}

.content-work{
    margin-top: 20px;
}

hr{
    width: 1080px;
    margin: auto;
    margin-bottom: 70px;
}

.footer{
    width: 1280px;
}

.footer-info{
    width: 1080px;
    height: 599px;
}

.contact-info{
    width: 360px;
    height: 313px;
}

.social-icon img{
    margin-right: 10px;
}

.footer-mess{
    width: 360px;
}

.footer-mess p{
    margin-top: 40px;
    font-size: 17px;
    line-height: 27px;
}

.text-fields input{
    background-color: #F3F3F3;
    border: 0;
    width: 530px;
    height: 69px;
    border-radius: 0;
    padding: 21px 30px;
    margin-bottom: 20px;
}

.text-fields :placeholder{
    color: #2D2D2D;
}

.text-fields textarea{
    background-color: #F3F3F3;
    border: 0;
    width: 530px;
    height: 231px;
    border-radius: 0;
    padding: 21px 30px;
    margin-bottom: 20px;
}

.text-fields button{
    width: 235px;
    height: 80px;
    background-color:#2D2D2D;
    color: white;
    font-weight: 600;
    font-size: 20px;
}