*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: #ebebeb;
    display: flex;
    justify-content: center;
}

.display{
    width: 1000px;
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 25px;
    border: 5px solid rgba(0, 0, 0, 0.75);
    position: relative;
}

.header{
    width: 100%;
    height: 50px;
    background-color: rgba(0, 0, 0, 0.75);
    display: flex;
    justify-content: center;
}

.function{
    width: 95%;
    display: flex;
}

.circle{
    background-color: white;
    width: 35px;
    height: 35px;
    border-radius: 50%;
}

.bar{
    width: 100%;
    display: flex;
    justify-content: right;
    
}

.bar-1, .bar-2, .bar-3, .bar-4{
    align-self: center;
    width: 70px;
    height: 2px;
    background-color: white;
    margin-left: 15px;
}

.bar-4{
    background-color: transparent;
}

.entity{
    font-size: 35px;
    color: white;
    position: absolute;
    right: 20px;
    color: transparent;

}

.content{
    width: 95%;
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
}

.main-content{
    width: 100%;
    min-height: 400px;
    background-color: rgba(150, 4, 82, 0.75);
}

.mini, .medium{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    gap: 25px;
}

.mini-content{
    flex-grow: 1;
    height: 140px;
    background-color: rgba(214, 10, 95, 0.75);
}

.medium-content{
    flex-grow: 1;
    height: 270px;
    background-color: rgba(206, 22, 135, 0.75);
}

.footer{
    width: 100%;
    height: 150px;
    background-color: rgba(227, 81, 176, 0.75);
}

@media screen and (max-width: 1200px){
    .mini-content{
        width: 48%;
    }

    .medium-content{
        width: 100%;
    }
    .bar-4{
        background-color: white;
    }
}
@media screen and (max-width: 767px){
    .mini-content{
        width: 100%;
    }
    .bar-4, .bar-3, .bar-2, .bar-1{
        background-color: transparent;
    }
    .entity{
        color: white;
    }
}
